<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
         	     <entry key="myThreadScope">
            	      <bean class="com.packt.patterninspring.chapter5.bankapp.scope.MyThreadScope"/>
            	  </entry>
      	    </map>
		</property>
	</bean>
	
	<bean id="myBean" class="com.packt.patterninspring.chapter5.bankapp.bean.MyBean" scope="myThreadScope"> 
		<property name="name" value="Dinesh"></property>
	</bean>
</beans>
