<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<context:component-scan base-package="com.packt.patterninspring.chapter9.bankapp.service, com.packt.patterninspring.chapter9.bankapp.repository"/>

	<aop:config>
		<aop:advisor advice-ref="cacheAccount" pointcut="execution(* com.packt.patterninspring.chapter9.bankapp.service.*.*(..))"/>
	</aop:config>
	
	<cache:advice id="cacheAccount">
		<cache:caching>
			<cache:cacheable cache="accountCache" method="findOne" />
			<cache:cache-put cache="accountCache" method="save" key="#result.id" />
			<cache:cache-evict cache="accountCache" method="remove" />
		</cache:caching>
	</cache:advice>

	<!-- Declare a cache manager -->
	<bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager" />
</beans>
