<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chapter-02-Common-Design-Patterns/src/com/packt/patterninspring/chapter2/abstractfactory/pattern/AbstractFactoryPatternMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.packt.patterninspring.chapter2.abstractfactory.pattern.AbstractFactoryPatternMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chapter-02-Common-Design-Patterns"/>
</launchConfiguration>
